name: release
on:
  push:
    tags:
      - "v*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create HACS ZIP
        run: |
          cd custom_components/oblamatik
          zip -r ../../oblamatik.zip .
      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: oblamatik.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
