name: Sync Wiki

on:
  push:
    branches:
      - main
    paths:
      - 'wiki_content/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync-wiki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Sync Wiki
        uses: spenserblack/actions-wiki@v2
        with:
          path: wiki_content
